.MainSection {
  background-color: #1c1c1c;
  height: 82.65vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-button {
  display: flex;

  font-size: 4rem;
  color: white;
  padding: 1rem 2rem;

  background-color: #e2ad0b;

  border: none;
  border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;

  cursor: pointer;
}

.upload-button:hover {
  background-color: #bc9210;
}

.upload-button p {
  margin-left: 1rem;
}
