.CropContents {
  display: flex;
  align-items: center;
}

.CropContents ul {
  display: flex;
  margin-left: 6%;
}

.CropContents li {
  margin-left: 1rem;
}

.CropContents li p {
  border: 2px solid grey;
  color: #35daff;

  padding: 0.1rem 0.5rem;
}
