.ResetButton {
  padding: 0.5rem 1rem;
  color: grey;

  margin-left: 0.33rem;

  background-color: transparent;
  border: none;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  cursor: not-allowed;
}
